In [65]:
import geopandas as gpd
import pandas as pd

In [66]:
gdf = gpd.read_file("../../Outputs/data/gdf_nan_complete.gpkg")

In [67]:
gdf.shape

(36594, 22)

In [68]:
df = pd.read_csv("../../data/unfiltered_data.csv")

In [69]:
gdf.columns

Index(['INSEE_COM', 'NOM_COMM', 'NOM_DEPT', 'NOM_REGION', 'Po_chien13',
       'Po_chien14', 'Po_chien15', 'Po_chien16', 'Po_chien17', 'Po_chien18',
       'Po_chien19', 'Po_chien20', 'Pop_huma20', 'nan_count_', 'nan_flag_2',
       'all_nan', 'TRUE_NAN', 'ratio_ch_hum_20', 'ratio', 'z_score_hybrid',
       'typologie_normative', 'geometry'],
      dtype='object')

In [70]:
df.columns

Index(['ID_GEOFLA', 'CODE_COMM', 'INSEE_COM', 'NOM_COMM', 'STATUT',
       'X_CHF_LIEU', 'Y_CHF_LIEU', 'X_CENTROID', 'Y_CENTROID', 'Z_MOYEN',
       'SUPERFICIE', 'POP_HUMAIN', 'CODE_CANT', 'CODE_ARR', 'CODE_DEPT',
       'NOM_DEPT', 'CODE_REG', 'NOM_REGION', 'Ville_origine', 'Po_chien13',
       'Po_chien14', 'Po_chien15', 'Po_chien16', 'Po_chien17', 'Po_chien18',
       'Po_chien19', 'Po_chien20', 'Po_ch13_18', 'Po_ch14_19', 'Po_ch15_20',
       'Po_ch13-20', 'Pop_huma13', 'Pop_huma14', 'Pop_huma15', 'Pop_huma16',
       'Pop_huma17', 'Pop_huma18', 'Pop_huma19', 'Pop_huma20',
       'mean_human_pop_13_18', 'mean_human_pop_14_19', 'mean_human_pop_15_20',
       'ratio_ch_hum_15_20'],
      dtype='object')

In [71]:
dfm = df[['INSEE_COM','X_CHF_LIEU', 'Y_CHF_LIEU','Z_MOYEN','SUPERFICIE','Pop_huma13', 'Pop_huma14', 'Pop_huma15', 'Pop_huma16',
       'Pop_huma17', 'Pop_huma18', 'Pop_huma19', 'Pop_huma20']]

In [72]:
dfm = dfm.copy()
dfm['INSEE_COM'] = dfm['INSEE_COM'].astype(str).str.zfill(5)

In [73]:
gdf.shape

(36594, 22)

In [74]:
gdf.drop(columns=['Pop_huma20','ratio','ratio_ch_hum_20','z_score_hybrid','nan_flag_2','all_nan'],inplace=True)

In [64]:
dfm.shape

(36594, 13)

In [77]:
nan_gdf = gdf.merge(dfm, on='INSEE_COM',how='inner')

In [78]:
nan_gdf

,INSEE_COM,NOM_COMM,NOM_DEPT,NOM_REGION,Po_chien13,Po_chien14,Po_chien15,Po_chien16,Po_chien17,Po_chien18,...,Z_MOYEN,SUPERFICIE,Pop_huma13,Pop_huma14,Pop_huma15,Pop_huma16,Pop_huma17,Pop_huma18,Pop_huma19,Pop_huma20
0,65013,ANSOST,HAUTES-PYRENEES,MIDI-PYRENEES,NaN,NaN,NaN,NaN,NaN,16.0,...,197,221,100,57.0,57.0,58.0,59.0,58.0,56.0,57.0
1,30152,LES MAGES,GARD,LANGUEDOC-ROUSSILLON,551.0,614.0,621.0,584.0,649.0,650.0,...,222,1265,1900,1882.0,1931.0,1981.0,2109.0,2030.0,2089.0,2074.0
2,61294,MORTREE,ORNE,BASSE-NORMANDIE,NaN,NaN,NaN,NaN,NaN,NaN,...,183,2373,1100,1080.0,1099.0,1100.0,1204.0,1081.0,1189.0,1175.0
3,47044,CAHUZAC,LOT-ET-GARONNE,AQUITAINE,NaN,NaN,159.0,NaN,NaN,NaN,...,89,807,300,295.0,294.0,292.0,310.0,296.0,305.0,307.0
4,47272,SAINT-QUENTIN-DU-DROPT,LOT-ET-GARONNE,AQUITAINE,88.0,80.0,74.0,74.0,62.0,62.0,...,86,1189,200,181.0,189.0,195.0,202.0,200.0,197.0,195.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36589,69385,LYON--5E--ARRONDISSEMENT,RHONE,RHONE-ALPES,NaN,NaN,NaN,NaN,NaN,NaN,...,255,622,47000,46698.0,46693.0,46630.0,50473.0,NaN,48929.0,NaN
36590,69386,LYON--6E--ARRONDISSEMENT,RHONE,RHONE-ALPES,NaN,NaN,NaN,NaN,NaN,NaN,...,168,378,49600,48794.0,49479.0,50364.0,52568.0,NaN,51416.0,NaN
36591,69387,LYON--7E--ARRONDISSEMENT,RHONE,RHONE-ALPES,NaN,NaN,NaN,NaN,NaN,NaN,...,166,946,69200,73713.0,75746.0,77855.0,82105.0,NaN,82045.0,NaN
36592,69388,LYON--8E--ARRONDISSEMENT,RHONE,RHONE-ALPES,NaN,NaN,NaN,NaN,NaN,NaN,...,175,682,76300,80809.0,81454.0,81531.0,86110.0,NaN,84517.0,NaN
36593,69389,LYON--9E--ARRONDISSEMENT,RHONE,RHONE-ALPES,NaN,NaN,NaN,NaN,NaN,NaN,...,202,749,47100,48431.0,48429.0,48926.0,51262.0,NaN,50706.0,NaN

In [79]:
nan_gdf.shape

(36594, 28)

In [80]:
nan_gdf.columns

Index(['INSEE_COM', 'NOM_COMM', 'NOM_DEPT', 'NOM_REGION', 'Po_chien13',
       'Po_chien14', 'Po_chien15', 'Po_chien16', 'Po_chien17', 'Po_chien18',
       'Po_chien19', 'Po_chien20', 'nan_count_', 'TRUE_NAN',
       'typologie_normative', 'geometry', 'X_CHF_LIEU', 'Y_CHF_LIEU',
       'Z_MOYEN', 'SUPERFICIE', 'Pop_huma13', 'Pop_huma14', 'Pop_huma15',
       'Pop_huma16', 'Pop_huma17', 'Pop_huma18', 'Pop_huma19', 'Pop_huma20'],
      dtype='object')

In [81]:
gdf=nan_gdf

# Historical Temporal imputation

In [82]:
import numpy as np

# --- ETAPE 1 : Préparation des données ---
# On s'assure que toutes les colonnes de population sont numériques
years = range(13, 21)
for year in years:
    if f'Pop_huma{year}' in gdf.columns:
        gdf[f'Pop_huma{year}'] = pd.to_numeric(gdf[f'Pop_huma{year}'], errors='coerce')

    # Calcul des ratios pour la validation (étape indispensable pour savoir si la donnée est bonne)
    gdf[f'ratio_exact_{year}'] = gdf[f'Po_chien{year}'] / gdf[f'Pop_huma{year}'].replace(0, np.nan)

In [83]:
# --- ETAPE 2 : Définition de l'Intervalle de Validité (Référence 2020) ---
mask_reference = gdf['typologie_normative'] == '0_Conforme_Standard'

dept_stats = gdf[mask_reference].groupby('NOM_DEPT')[f'ratio_exact_20'].agg(
    Q1=lambda x: x.quantile(0.25),
    Q3=lambda x: x.quantile(0.75)
).reset_index()

dept_stats['IQR'] = dept_stats['Q3'] - dept_stats['Q1']
dept_stats['Lower_Bound'] = (dept_stats['Q1'] - 1.5 * dept_stats['IQR']).clip(lower=0)
dept_stats['Upper_Bound'] = dept_stats['Q3'] + 1.5 * dept_stats['IQR']

# Fusion des bornes
cols_to_drop = [c for c in ['Lower_Bound', 'Upper_Bound'] if c in gdf.columns]
gdf = gdf.drop(columns=cols_to_drop)
gdf = gdf.merge(dept_stats[['NOM_DEPT', 'Lower_Bound', 'Upper_Bound']], on='NOM_DEPT', how='left')

In [84]:
# --- ETAPE 3 : La Fonction Hybride (Croissance Démographique) ---

def apply_demographic_growth_robust(row):
    if pd.isna(row['Lower_Bound']):
        return row['Po_chien20']

    for year in range(20, 12, -1):
        chiens_hist = row[f'Po_chien{year}']
        ratio_hist = row[f'ratio_exact_{year}']
        pop_hist = row[f'Pop_huma{year}']
        pop_2020 = row['Pop_huma20']

        # 1. Vérifier si on a au moins le nombre de chiens historique et son ratio
        if pd.isna(chiens_hist) or pd.isna(ratio_hist):
            continue

        # 2. VALIDATION : Le ratio était-il cohérent à l'époque ?
        if row['Lower_Bound'] <= ratio_hist <= row['Upper_Bound']:

            # --- CAS A : On a les deux populations (Calcul du Growth Rate) ---
            if pd.notna(pop_hist) and pop_hist > 0 and pd.notna(pop_2020):
                growth_rate = pop_2020 / pop_hist
                return chiens_hist * growth_rate

            # --- CAS B : La population historique est manquante (Fusion de communes) ---
            # On ne peut pas calculer la croissance, donc on applique le ratio historique
            # directement à la population 2020 (qui, elle, est souvent présente).
            elif pd.notna(pop_2020):
                return ratio_hist * pop_2020

            # --- CAS C : Vraiment aucune population 2020 ---
            # On garde la valeur brute historique par défaut
            else:
                return chiens_hist

    return np.nan

In [85]:
# --- ETAPE 4 : Exécution ---
print("Application du Taux de Croissance Humain sur les données historiques...")
gdf['Po_chien_history_growth'] = gdf.apply(apply_demographic_growth_robust, axis=1)

# Arrondi (on ne coupe pas les chiens en deux)
gdf['Po_chien_history_growth'] = gdf['Po_chien_history_growth'].round(0)

Application du Taux de Croissance Humain sur les données historiques...

In [86]:
# --- BILAN ---
nb_valide = gdf['Po_chien_history_growth'].notna().sum()
nb_correction = (
    (gdf['Po_chien20'].notna()) &
    (gdf['Po_chien_history_growth'].notna()) &
    (gdf['Po_chien20'] != gdf['Po_chien_history_growth'])
).sum()

print(f"Total communes validées : {nb_valide}")
print(f"Nombre de corrections apportées à 2020 : {nb_correction}")

Total communes validées : 26409
Nombre de corrections apportées à 2020 : 2644

In [90]:
gdf[['Po_chien20','Po_chien_history_growth', 'typologie_normative', 'NOM_DEPT','TRUE_NAN']]

,Po_chien20,Po_chien_history_growth,typologie_normative,NOM_DEPT,TRUE_NAN
0,NaN,16.0,1_Manquant_NAN,HAUTES-PYRENEES,False
1,1.0,664.0,2_Sous_Declaration_Forte,GARD,False
2,NaN,NaN,1_Manquant_NAN,ORNE,True
3,NaN,NaN,1_Manquant_NAN,LOT-ET-GARONNE,False
4,58.0,58.0,0_Conforme_Standard,LOT-ET-GARONNE,False
...,...,...,...,...,...
36589,NaN,NaN,1_Manquant_NAN,RHONE,False
36590,NaN,NaN,1_Manquant_NAN,RHONE,False
36591,NaN,NaN,1_Manquant_NAN,RHONE,False
36592,NaN,NaN,1_Manquant_NAN,RHONE,False
36593,NaN,NaN,1_Manquant_NAN,RHONE,False

In [91]:
gdf.to_file('../../Outputs/data/temporal_imputed.gpkg', driver='GPKG', index=False, encoding='utf-8')